// colors
$grey-100: #e5e5e6;
$grey-200: #cacbcc;
$grey-300: #b0b1b3;
$grey-900: #19191a;
$white: #fff;
$text-color: #f2f2f2;
$error:#d40e2f;

// spacing
$sp-xs: 6px;
$sp-sm: 8px;
$sp-md: 12px;
$sp-lg: 16px;
$sp-xl: 24px;
$sp-xxl: 36px;
$sp-xxxl: 48px;

// border-radius
$radius-lg: 8px;
$radius-xl: 12px;


// screen
$tablet-lg:1280px;
$tablet-sm:1026px;